/* src/App.css */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desktop-menu {
  display: none;
}

@media (min-width: 900px) {
  .desktop-menu {
    display: flex;
  }
}
